includes:
	- lib/szepeviktor/phpstan-wordpress/extension.neon
	- phpstan-baseline.neon

parameters:
	level: 5
	paths:
		- wp-ajaxify-comments.php
		- functions.php
		- php
	bootstrapFiles:
		- lib/autoload.php
	treatPhpDocTypesAsCertain: false
